<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">TRELLO</h1>
            </div>
        </div>
    </div>
    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>

            <input
                class="add-todo-input"
                placeholder="Enter Todo..."
                type="text"
                aria-describedby="add-button"
                [(ngModel)]="newTodo"
            />
            <button
                id="add-button"
                class="add-todo-button"
                (click)="saveTodo()"
            >
                Add Todo
            </button>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column" *ngFor="let column of board.columns">
                    <div class="column-title">{{ column.name }}</div>
                    <div
                        class="tasks-container"
                        cdkDropList
                        [cdkDropListData]="column.tasks"
                        (cdkDropListDropped)="drop($event)"
                    >
                        <div
                            class="task"
                            *ngFor="let item of column.tasks"
                            cdkDrag
                        >
                            {{ item.name }}
                            <button
                                id="rm-button"
                                class="rm-todo-button"
                                (click)="rmTodo(item, column)"
                            >
                                Remove element
                            </button>
                            <button
                                id="rm-button"
                                class="rm-todo-button"
                                (click)="rmTodo(item, column)"
                            >
                                Modify element
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
