<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-gradient-text">TRELLO</h1>
            </div>
        </div>
    </div>
    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>

            <input
                class="add-todo-input"
                placeholder="Enter task title..."
                type="text"
                aria-describedby="add-button"
                [(ngModel)]="newTodo"
            />

            <textarea
                class="add-todo-input"
                placeholder="Enter description..."
                aria-describedby="add-button"
                [(ngModel)]="newTodo"
                rows="3"
                cols="50"
            ></textarea>

            <input [(ngModel)]="newTodoColor" type="color" id="colorpicker" value="#0000ff">
            
            <button
                id="add-button"
                class="add-todo-button"
                (click)="saveTodo()"
            >
                Add Todo
            </button>
        </div>
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column" *ngFor="let column of board.columns">
          <div class="column-title">{{ column.name }}</div>
          <div
            class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.tasks"
            (cdkDropListDropped)="drop($event)"
          >
            <div class="task" [ngStyle]="{'background-color': item.color}" *ngFor="let item of column.tasks" cdkDrag>
              {{ item.name }}
              <mat-icon (click)="rmTodo(item, column)" aria-hidden="false" aria-label="Remove icon" fontIcon="delete"></mat-icon>
              <mat-icon (click)="openDialog(item, column)" aria-hidden="false" aria-label="Modify icon" fontIcon="edit"></mat-icon>
            </div>
        </div>
    </div>
</div>
